/* font-family: 'Poppins', sans-serif; */
@font-face {
  font-family: "Font Nixmat";
  src: url("../font/Nixmat.ttf");
}
.digital {
  font-family: "Font Nixmat";
}
h1 {
  font-family: "Font Nixmat";
}
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../images/longbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
